<div class="flex flex-col h-full">
  <div class="flex items-center justify-between px-6 pt-4 shrink-0 pb-8">
    <app-header></app-header>
  </div>
  <div class="overflow-y-auto ml-4">
    <ul class="list-none p-0 m-0 overflow-hidden">
      <li class="pb-1">
        <a pRipple
          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          routerLink="/features/home" routerLinkActive="bg-surface-100 dark:bg-surface-700" style="text-decoration: none">
          <i class="pi pi-home mr-2"></i>
          <span class="font-bold">{{'sidebar.items.home' | translate}}</span>
        </a>
      </li>
      <li class="pb-1">
        <a pRipple
          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          routerLink="/features/expense" routerLinkActive="bg-surface-100 dark:bg-surface-700" style="text-decoration: none">
          <i class="pi pi-receipt mr-2"></i>
          <span class="font-bold">{{'sidebar.items.expenses' | translate}}</span>
        </a>
      </li>
      <li class="pb-1">
        <a pRipple
          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          routerLink="/features/income" routerLinkActive="bg-surface-100 dark:bg-surface-700" style="text-decoration: none">
          <i class="pi pi-wallet mr-2"></i>
          <span class="font-bold">{{'sidebar.items.incomes' | translate}}</span>
        </a>
      </li>
      <li class="pb-1">
        <a pRipple
          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          routerLink="/features/settings" routerLinkActive="bg-surface-100 dark:bg-surface-700" style="text-decoration: none">
          <i class="pi pi-cog mr-2"></i>
          <span class="font-bold">{{'sidebar.items.settings' | translate}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-auto">
    <hr class="mb-4 mx-4 border-t border-0 border-surface" />
    <a pRipple
      class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
      (click)="logout()">
      <i class="pi pi-sign-out"></i>
      <span class="font-bold">{{'sidebar.logout' | translate}}</span>
    </a>
  </div>
</div>
