<app-content-wrapper>
    <div slot="header" class="flex justify-content-between">
        <span>Home</span>
        <p-calendar [(ngModel)]="dateRangeFilter" selectionMode="range" dateFormat="dd/mm/yy"
            placeholder="Filter date range" />
    </div>
    <div class="grid">
        <p-card class="col-3" header="This months expenses">TODO total expense this month</p-card>
        <p-card class="col-3">TODO total income this month</p-card>
        <p-card class="col-3">Balance (totalIncome - totalExpense)</p-card>

        <p-card class="col-4" header="Expenses per category" [style]="{ height: '100%' }">
            <p-chart type="pie" [data]="expensesPerCategoryData$ | async"
                [options]="expensesPerCategoryOptions$ | async" />
        </p-card>

        <p-card class="col-5" header="Expenses per month" [style]="{ height: '100%' }">
            <p-chart type="line" [data]="expensesPerMonthData$ | async" [options]="expensesPerMonthOptions$ | async" />
        </p-card>
    </div>
</app-content-wrapper>
