<div class="flex justify-center content-center w-full h-full">
  <p-card class="w-3/12 h-fit">
    <div class="flex justify-center px-6 pt-4 pb-8">
      <app-header></app-header>
    </div>
    <form class="grid grid-cols-12 gap-4" (keydown.enter)="submit()" (submit)="submit()">
      <div class="mb-8 col-span-12">
        <p-floatLabel>
          <input pInputText class="w-full" id="username" [formField]="loginForm.username" type="text" [primeNgSignalStatus]="loginForm.username" />
          <label for="username">{{'user.login.username' | translate}}</label>
        </p-floatLabel>
      </div>

      <div class="mb-8 col-span-12">
        <p-floatLabel>
          <p-password inputStyleClass="w-full" class="w-full" inputId="password" [(ngModel)]="passwordProxy" name="password"
            [primeNgSignalStatus]="loginForm.password" [feedback]="false" />
          <label for="password">{{'user.login.password' | translate}}</label>
        </p-floatLabel>
      </div>


      <div class="col-span-12">
        <p-button type="submit" label="{{'user.login.buttons.login' | translate}}" icon="pi pi-user" class="w-full"
          [loading]="loading()" [disabled]="loginForm().invalid()"></p-button>
        <p-button label="{{'user.login.buttons.register' | translate}}" [link]="true" routerLink="/user/register" />
      </div>
    </form>
  </p-card>
</div>
