<div class="flex justify-center content-center w-full h-full">
  <p-card class="w-3/12">
    <div class="flex justify-center px-6 pt-4 pb-8">
      <app-header></app-header>
    </div>
    <form class="grid grid-cols-12 gap-4" [formGroup]="loginForm" (keydown.enter)="submit()">
      <div class="mb-8 col-span-12">
        <p-floatLabel>
          <input pInputText class="w-full" id="username" formControlName="username" type="text" />
          <label for="username">{{'user.login.username' | translate}}</label>
        </p-floatLabel>
      </div>

      <div class="mb-8 col-span-12">
        <p-floatLabel>
          <p-password inputStyleClass="w-full" styleClass="w-full" inputId="password" formControlName="password"
            [feedback]="false" />
          <label for="password">{{'user.login.password' | translate}}</label>
        </p-floatLabel>
      </div>
    </form>

    <p-button label="{{'user.login.buttons.login' | translate}}" icon="pi pi-user" class="w-full" (onClick)="submit()"
      [loading]="loading()" [disabled]="!loginForm.valid"></p-button>

    <p-button label="{{'user.login.buttons.register' | translate}}" [link]="true" routerLink="/user/register" />
  </p-card>
</div>
