<app-content-wrapper>
  <div slot="header" class="flex justify-between">
    <span>{{'home.title' | translate}}</span>
    <app-date-range-picker (onChange)="onDateRangeChanged($event)"></app-date-range-picker>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <p-card class="col-span-3" [header]="'home.currentMonth.totalExpenseCard.header' | translate">
      @if (currentMonthData(); as currentMonthDataData) {
      {{
      currentMonthDataData.totalExpense
      | formatCurrency: currentMonthDataData.currency
      }}
      }
      @else {
      <app-no-data></app-no-data>
      }
    </p-card>
    <p-card class="col-span-3" [header]="'home.currentMonth.totalIncomeCard.header' | translate">
      @if (currentMonthData(); as currentMonthDataData) {
      {{
      currentMonthDataData.totalIncome
      | formatCurrency: currentMonthDataData.currency
      }}
      }
      @else {
      <app-no-data></app-no-data>
      }
    </p-card>
    <p-card class="col-span-3" [header]="'home.currentMonth.balanceCard.header' | translate">
      @if (currentMonthData(); as currentMonthDataData) {
      <div appHighlightNegativeCurrency>
        {{
        currentMonthDataData.balance
        | formatCurrency: currentMonthDataData.currency
        }}
      </div>
      }
      @else {
      <app-no-data></app-no-data>
      }
    </p-card>

    <p-card class="col-span-4" [header]="'home.perCategory.header' | translate" [style]="{ height: '100%' }">
      @if (!expensesPerCategoryNoData()) {
      <p-chart type="pie" [data]="expensesPerCategoryData()" [options]="expensesPerCategoryOptions()" />
      }
      @else {
      <app-no-data></app-no-data>
      }
    </p-card>

    <p-card class="col-span-5" [header]="'home.perMonth.header' | translate" [style]="{ height: '100%' }">
      @if (!expensesPerMonthNoData()) {
      <p-chart type="line" [data]="expensesPerMonthData()" [options]="expensesPerMonthOptions" />
      } @else {
      <app-no-data></app-no-data>
      }
    </p-card>
  </div>
</app-content-wrapper>
