<app-content-wrapper>
  <div slot="header" class="flex justify-content-between">
    <span>{{'home.title' | translate}}</span>
    <app-date-range-picker (onChange)="onDateRangeChanged($event)"></app-date-range-picker>
  </div>
  <div class="grid">
    <p-card class="col-3" [header]="'home.currentMonth.totalExpenseCard.header' | translate">
      @if (currentMonthDataData$ | async; as currentMonthDataData) {
      {{
      currentMonthDataData.totalExpense
      | formatCurrency: currentMonthDataData.currency
      }}
      }
    </p-card>
    <p-card class="col-3" [header]="'home.currentMonth.totalIncomeCard.header' | translate">
      @if (currentMonthDataData$ | async; as currentMonthDataData) {
      {{
      currentMonthDataData.totalIncome
      | formatCurrency: currentMonthDataData.currency
      }}
      }
    </p-card>
    <p-card class="col-3" [header]="'home.currentMonth.balanceCard.header' | translate">
      @if (currentMonthDataData$ | async; as currentMonthDataData) {
      <div appHighlightNegativeCurrency>
        {{
        currentMonthDataData.balance
        | formatCurrency: currentMonthDataData.currency
        }}
      </div>
      }
    </p-card>

    <p-card class="col-4" [header]="'home.perCategory.header' | translate" [style]="{ height: '100%' }">
      @if ((expensesPerCategoryData$ | async)?.datasets) {
      <p-chart type="pie" [data]="expensesPerCategoryData$ | async" [options]="expensesPerCategoryOptions$ | async" />
      }
      @else {
      <app-no-data></app-no-data>
      }
    </p-card>

    <p-card class="col-5" [header]="'home.perMonth.header' | translate" [style]="{ height: '100%' }">
      @if ((expensesPerMonthData$ | async)?.datasets) {
      <p-chart type="line" [data]="expensesPerMonthData$ | async" [options]="expensesPerMonthOptions$ | async" />
      } @else {
      <app-no-data></app-no-data>
      }
    </p-card>
  </div>
</app-content-wrapper>
