<app-content-wrapper>
  <div slot="header" class="flex justify-content-between">
    <span>Home</span>
    <app-date-range-picker (onChange)="onDateRangeChanged($event)"></app-date-range-picker>
  </div>
  <div class="grid">
    <p-card class="col-3" header="This months expense">
      <div *ngIf="currentMonthDataData$ | async; let currentMonthDataData">
        {{
        currentMonthDataData.totalExpense
        | formatCurrency: currentMonthDataData.currency
        }}
      </div>
    </p-card>
    <p-card class="col-3" header="This months income">
      <div *ngIf="currentMonthDataData$ | async; let currentMonthDataData">
        {{
        currentMonthDataData.totalIncome
        | formatCurrency: currentMonthDataData.currency
        }}
      </div>
    </p-card>
    <p-card class="col-3" header="Balance">
      <div *ngIf="currentMonthDataData$ | async; let currentMonthDataData">
        {{
        currentMonthDataData.balance
        | formatCurrency: currentMonthDataData.currency
        }}
      </div>
    </p-card>

    <p-card class="col-4" header="Expenses per category" [style]="{ height: '100%' }">
      <p-chart *ngIf="(expensesPerCategoryData$ | async)?.datasets; else noData" type="pie"
        [data]="expensesPerCategoryData$ | async" [options]="expensesPerCategoryOptions$ | async" />
      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>
    </p-card>

    <p-card class="col-5" header="Expenses per month" [style]="{ height: '100%' }">
      <p-chart *ngIf="(expensesPerMonthData$ | async)?.datasets; else noData" type="line"
        [data]="expensesPerMonthData$ | async" [options]="expensesPerMonthOptions$ | async" />
      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>
    </p-card>
  </div>
</app-content-wrapper>
