<form class="grid grid-cols-12 gap-4 mt-6" [formGroup]="formGroup">
  <div class="col-span-12 lg:col-span-8">
    <p-floatLabel>
      <input pInputText class="w-full" id="description" formControlName="description" type="text" />
      <label for="description">{{'expenses.create.description' | translate}}</label>
    </p-floatLabel>
  </div>

  <div class="col-span-12 lg:col-span-2">
    <p-floatLabel>
      <!--TODO (user$ | async)?.settings?.currency undefined for a short time-->
      <p-inputNumber styleClass="w-full" class="w-full" [min]="0" formControlName="amount" inputId="amount"
        mode="currency" [currency]="currency()" locale="en-US" />
      <label for="amount">{{'expenses.create.amount' | translate}}</label>
    </p-floatLabel>
  </div>

  <div class="col-span-12 lg:col-span-2">
    <app-expense-category-dropdown formControlName="category"></app-expense-category-dropdown>
  </div>

  <div class="col-span-12 flex justify-center gap-4">
    <div class="field-checkbox">
      <p-radioButton inputId="onetime" [value]="false" formControlName="isRecurring" />
      <label for="onetime">{{'expenses.create.type.onetime' | translate}}</label>
    </div>
    <div class="field-checkbox">
      <p-radioButton inputId="recurring" [value]="true" formControlName="isRecurring" />
      <label for="recurring">{{'expenses.create.type.recurring' | translate}}</label>
    </div>
  </div>

  @if (formGroup.controls['isRecurring'].value) {
  <div class="col-span-12 lg:col-span-4">
    <p-floatLabel>
      <p-select formControlName="recurringType" styleClass="w-full" class="w-full" inputId="recurringType"
        [options]="recurringTypeOptions" />
      <label for="recurringType">{{'expenses.create.recurringType' | translate}}</label>
    </p-floatLabel>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <p-floatLabel>
      <p-datepicker class="w-full" styleClass="w-full" inputId="startDate" formControlName="startDate"
        [showIcon]="true" />
      <label for="startDate">{{'expenses.create.startDate' | translate}}</label>
    </p-floatLabel>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <p-floatLabel>
      <p-datepicker class="w-full" styleClass="w-full" inputId="endDate" formControlName="endDate" [showIcon]="true" />
      <label for="endDate">{{'expenses.create.endDate' | translate}}</label>
    </p-floatLabel>
  </div>
  }

  <div class="col-span-12 flex justify-end">
    <p-button label="{{'buttons.create' | translate}}" icon="pi pi-receipt" (onClick)="submit()" [loading]="false"
      [disabled]="!formGroup.valid"></p-button>
  </div>
</form>
