<app-content-wrapper>
  <span slot="header">{{'incomes.title' | translate}}</span>
  <div class="grid grid-cols-12 gap-4 m-0">
    <p-card class="col-span-12" header="{{'incomes.createHeader' | translate}}">
      <app-income-create></app-income-create>
    </p-card>
    <p-card class="col-span-7">
      <app-incomes-list></app-incomes-list>
    </p-card>
    <p-card class="col-span-5">
      <app-recurring-incomes-list></app-recurring-incomes-list>
    </p-card>
  </div>
</app-content-wrapper>
