@if(!label()) {
<p-datepicker 
    [ngModel]="calenderValue"
    (ngModelChange)="valueChanged($event)"
    selectionMode="range"
    dateFormat="dd/mm/yy"
    [showClear]="showClear()" 
    [disabled]="disabled()"
    [showClear]="showClear()"
    (onBlur)="onBlur()"
    placeholder="{{'filter.dateRangePicker.placeholder' | translate}}" inputId="dateRange" />
} @else {
<p-floatLabel>
  <p-datepicker 
    [ngModel]="calenderValue"
    (ngModelChange)="valueChanged($event)"
    selectionMode="range"
    dateFormat="dd/mm/yy"
    [showClear]="showClear()"
    [disabled]="disabled()"
    [showClear]="showClear()"
    (onBlur)="onBlur()"
    inputId="dateRange" />
  <label for="dateRange">{{label()}}</label>
</p-floatLabel>
}
