<ng-template [ngIf]="!!label">
  <p-floatLabel>
    <p-calendar [(ngModel)]="calenderValue" selectionMode="range" dateFormat="dd/mm/yy"
      placeholder="{{'filter.dateRangePicker.placeholder' | translate}}" [showClear]="showClear"
      (onSelect)="valueChanged()" inputId="dateRange" />
    <label for="dateRange">{{label}}</label>
  </p-floatLabel>
</ng-template>

<ng-template [ngIf]="!label">
  <p-calendar [(ngModel)]="calenderValue" selectionMode="range" dateFormat="dd/mm/yy"
    placeholder="{{'filter.dateRangePicker.placeholder' | translate}}" [showClear]="showClear"
    (onSelect)="valueChanged()" inputId="dateRange" />
</ng-template>