<div class="flex justify-content-center align-content-center w-full h-full">
  <app-pending-changes-dialog />
  <p-card class="w-3" *ngIf="
      (registerStatus$ | async)?.status !== 'success';
      else registrationSuccess
    ">
    <p-stepper [value]="1" [linear]="true">
      <p-step-list>
        <p-step [value]="1">{{'user.register.credentials.header' | translate}}</p-step>
        <p-step [value]="2">{{'user.register.settings.header' | translate}}</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback" let-index="index">
            <div class="text-center mt-3 mb-4 text-xl font-semibold">
              {{'user.register.credentials.title' | translate}}
            </div>
            <form class="formgrid grid" [formGroup]="credentialsFormGroup">
              <div class="mb-5 field col-12">
                <p-floatLabel>
                  <input pInputText class="w-full" id="username" formControlName="username" type="text" />
                  <label for="username">{{'user.register.credentials.form.username.label' | translate}}</label>
                </p-floatLabel>
              </div>

              <div class="mb-5 field col-12">
                <p-floatLabel>
                  <p-password inputStyleClass="w-full" styleClass="w-full" inputId="password" formControlName="password"
                    [toggleMask]="true"
                    placeholder="{{'user.register.credentials.form.password.placeholder' | translate}}" />
                  <label for="password">{{'user.register.credentials.form.password.label' | translate}}</label>
                </p-floatLabel>
              </div>

              <div class="mb-5 field col-12">
                <p-floatLabel>
                  <p-password inputStyleClass="w-full" styleClass="w-full" inputId="confirmPassword"
                    formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
                    placeholder="{{'user.register.credentials.form.confirmPassword.placeholder' | translate}}" />
                  <label for="confirmPassword">{{'user.register.credentials.form.confirmPassword.label' |
                    translate}}</label>
                </p-floatLabel>
              </div>
            </form>
            <div class="flex pt-4 justify-content-between">
              <p-button label="{{'buttons.cancel' | translate}}" [link]="true" routerLink="/auth/login" />
              <p-button (onClick)="activateCallback(2)" label="{{'user.register.buttons.next' | translate}}"
                icon="pi pi-arrow-right" iconPos="right" [disabled]="!credentialsFormGroup.valid" />
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback" let-index="index">
            <div class="text-center mt-3 mb-4 text-xl font-semibold">
              {{'user.register.settings.title' | translate}}
            </div>
            <form class="formgrid grid" [formGroup]="settingsFormGroup">
              <div class="mb-5 field col-12">
                <app-currency-input formControlName="currency"></app-currency-input>
              </div>
            </form>
            <div class="flex pt-4 justify-content-between">
              <p-button (onClick)="activateCallback(1)" label="{{'user.register.buttons.back' | translate}}"
                icon="pi pi-arrow-left" />
              <p-button (onClick)="register()" label="{{'user.register.buttons.register' | translate}}"
                icon="pi pi-user-plus" iconPos="right" [disabled]="!settingsFormGroup.valid" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </p-card>
  <ng-template #registrationSuccess>
    <p-card class="w-3">
      <div class="text-center mt-3 mb-4 text-xl font-semibold">
        {{'user.register.success.title' | translate}}
      </div>

      <div class="text-center mt-3 mb-4">
        {{'user.register.success.message.text' | translate}}
        <p-button label="{{'user.register.success.message.button' | translate}}" [link]="true" routerLink="/auth/login"
          styleClass="p-0" />
      </div>
    </p-card>
  </ng-template>
</div>
