<p-floatLabel>
    <p-select [(ngModel)]="value" class="w-full" class="w-full" inputId="recurringType" [options]="options"
        [disabled]="disabled()" [showClear]="showClear()" (onBlur)="onBlur()" >
        <ng-template pTemplate="selectedItem" let-selectedOption>
            {{ selectedOption.label | translate }}
        </ng-template>

        <ng-template pTemplate="item" let-option>
            {{ option.label | translate }}
        </ng-template>
    </p-select>
    <label for="recurringType">{{'filter.recurringTypeDropdown.label' | translate}}</label>
</p-floatLabel>
